@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif !important;
}

/* h2, p {
  text-align: center;
} */

legend {
  font-size: inherit !important;
}

.alert {
  padding: 0 !important;
}

.change-todo-status-button {
  display: none;
}

.form-alert {
  display: none;
  color: red;
  /* font-size: 1.3rem; */
}

.red-border {
  border: solid 1px red;
}

.display-block {
  display: block;
}