<h2>Log In</h2>

<form id="form" method="post" action="/login" novalidate>
  <fieldset>
    <label for="email">Email *</label>
    <input class="form-field <%if(emailEmptyAlert==='true'||emailInvalidAlert==='true'||emailMissingAlert==='true'||emailUnconfirmedAlert==='true'){%>red-border<%}%>" type="email" id="email" name="email" value="<%if(email!==''){%><%= email%><%}%>">
    <span class="tooltip-form-alert <%if(emailEmptyAlert==='true'){%>display-inline<%}%>" id="email-empty-alert">Please enter your email address</span>
    <span class="tooltip-form-alert <%if(emailInvalidAlert==='true'){%>display-inline<%}%>" id="email-invalid-alert">Email has invalid format</span>
    <span class="tooltip-form-alert <%if(emailMissingAlert==='true'){%>display-inline<%}%>" id="email-missing-alert">User with this email does not exist</span>
    <span class="tooltip-form-alert <%if(emailUnconfirmedAlert==='true'){%>display-inline<%}%>" id="email-unconfirmed-alert">Please confirm your email address</span>
  </fieldset>

  <fieldset>
    <label for="password">Password *</label>
    <input class="form-field <%if(passwordEmptyAlert==='true'||passwordInvalidAlert==='true'||passwordIncorrectAlert==='true'){%>red-border<%}%>" type="password" id="password" name="password">
    <span class="tooltip-form-alert <%if(passwordEmptyAlert==='true'){%>display-inline<%}%>" id="password-empty-alert">Please enter your password</span>
    <span class="tooltip-form-alert <%if(passwordInvalidAlert==='true'){%>display-inline<%}%>" id="password-invalid-alert">Password has invalid format</span>
    <span class="tooltip-form-alert <%if(passwordIncorrectAlert==='true'){%>display-inline<%}%>" id="password-incorrect-alert">You have entered incorrect password</span>
  </fieldset>

  <button class="button" type="submit">Log In</button>
</form>

<p class="centered-paragraph">Don't have an account yet? <a href="/signup">Sign Up now</a></p>
<p class="centered-paragraph">Forgot your password? <a href="/password/forgot">Click here</a></p>

<script src="/static/login.js" defer></script>