<div class="container-fluid">
  <div class="col-4 offset-4">
    <div class="row mt-3 text-center">
      <h2>Reset Password</h2>
    </div>

    <form class="row" id="form" method="post" action="/password/reset/<%= passwordResetHash%>" novalidate>
      <div class="mb-3">
        <label for="password" class="form-label">New Password *</label>
        <input class="form-control <%if(passwordEmptyAlert==='true'||passwordInvalidAlert==='true'){%>red-border<%}%>" type="password" id="password" name="password">
        <div class="form-alert <%if(passwordEmptyAlert==='true'){%>display-block<%}%>" id="password-empty-alert">Please enter your password</div>
        <div class="form-alert <%if(passwordInvalidAlert==='true'){%>display-block<%}%>" id="password-invalid-alert">Password has invalid format</div>
        <div class="form-text" id="password-info">At least: 8 chars, one lower and one upper alpha chars, one number, one special char</div>
        </div>

      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password *</label>
        <input class="form-control <%if(confirmPasswordEmptyAlert==='true'||confirmPasswordMatchAlert==='true'){%>red-border<%}%>" type="password" id="confirmPassword" name="confirmPassword">
        <div class="form-alert <%if(confirmPasswordEmptyAlert==='true'){%>display-block<%}%>" id="confirmPassword-empty-alert">Please confirm your password</div>
        <div class="form-alert <%if(confirmPasswordMatchAlert==='true'){%>display-block<%}%>" id="confirmPassword-match-alert">Passwords do not match</div>
      </div>

      <button class="btn btn-primary shadow d-block mx-auto w-50" type="submit">Reset password</button>
    </form>
  </div>
</div>

<%if (modal === 'opened') {%>
  <div class="modal" id="modal">
    <div class="modal-content">
      <i class="fas fa-check modal-text"></i>
      <p class="modal-text">You password has been changed</p>
      <a href="/login"><button class="button" id="close-modal-button" type="button">Login</button></a>
    </div>
  </div>
<%}%>

<script src="/static/js/password_reset.js" defer></script>