<div class="container-fluid">
  <div class="col-4 offset-4">
    <div class="row mt-3 text-center">
      <h2>Forgot Password</h2>
    </div>

    <form class="row" id="form" method="post" action="/password/forgot" novalidate>
      <div class="mb-3">
        <label for="email" class="form-label">Email Address*</label>
        <input class="form-control <%if(emailEmptyAlert==='true'||emailInvalidAlert==='true'||emailMissingAlert==='true'||emailUnconfirmedAlert==='true'){%>red-border<%}%>" type="email" id="email" name="email" value="<%if(email!==''){%><%= email%><%}%>">
        <div class="form-alert <%if(emailEmptyAlert==='true'){%>display-block<%}%>" id="email-empty-alert">Please enter your email address</div>
        <div class="form-alert <%if(emailInvalidAlert==='true'){%>display-block<%}%>" id="email-invalid-alert">Email address has invalid format</div>
        <div class="form-alert <%if(emailMissingAlert==='true'){%>display-block<%}%>" id="email-missing-alert">User with this email address does not exist</div>
        <div class="form-alert <%if(emailUnconfirmedAlert==='true'){%>display-block<%}%>" id="email-unconfirmed-alert">Please confirm your email address</div>
      </div>
      
      <button class="btn btn-primary shadow d-block mx-auto w-50" type="submit">Send reset link</button>
    </form>
  </div>
</div>

<%if (modal === 'opened') {%>
  <div class="modal" id="modal">
    <div class="modal-content">
      <i class="fas fa-check modal-text"></i>
      <p class="modal-text">An email has been sent to <%= email%> with further instructions</p>
      <a href="/login"><button class="button" id="close-modal-button" type="button">Login</button></a>
    </div>
  </div>
<%}%>

<script src="/static/js/password_forgot.js" defer></script>