<h2>Forgot Password</h2>

<form id="form" method="post" action="/password/forgot" novalidate>
  <fieldset>
    <label for="email">Email *</label>
    <input class="form-field <%if(emailEmptyAlert==='true'||emailInvalidAlert==='true'||emailMissingAlert==='true'||emailUnconfirmedAlert==='true'){%>red-border<%}%>" type="email" id="email" name="email" value="<%if(email!==''){%><%= email%><%}%>">
    <span class="tooltip-form-alert <%if(emailEmptyAlert==='true'){%>display-inline<%}%>" id="email-empty-alert">Please enter your email address</span>
    <span class="tooltip-form-alert <%if(emailInvalidAlert==='true'){%>display-inline<%}%>" id="email-invalid-alert">Email has invalid format</span>
    <span class="tooltip-form-alert <%if(emailMissingAlert==='true'){%>display-inline<%}%>" id="email-missing-alert">User with this email does not exist</span>
    <span class="tooltip-form-alert <%if(emailUnconfirmedAlert==='true'){%>display-inline<%}%>" id="email-unconfirmed-alert">Please confirm your email address</span>
  </fieldset>
  
  <button class="button" type="submit">Send reset link</button>
</form>

<%if (modal === 'opened') {%>
  <div class="modal" id="modal">
    <div class="modal-content">
      <i class="fas fa-check modal-text"></i>
      <p class="modal-text">An email has been sent to <%= email%> with further instructions</p>
      <a href="/login"><button class="button" id="close-modal-button" type="button">Login</button></a>
    </div>
  </div>
<%}%>

<script src="/static/password_forgot.js" defer></script>