<h2>Sign Up</h2>

<form id="form" method="post" action="/signup" novalidate>

  <fieldset>
    <label for="firstname">First Name *</label>
    <input class="form-field <%if(firstnameEmptyAlert==='true'||firstnameInvalidAlert==='true'){%>red-border<%}%>" type="text" id="firstname" name="firstname" value="<%if(firstname!==''){%><%= firstname%><%}%>">
    <span class="tooltip-form-alert <%if(firstnameEmptyAlert==='true'){%>display-inline<%}%>"  id="firstname-empty-alert">Please enter your first name</span>
    <span class="tooltip-form-alert <%if(firstnameInvalidAlert==='true'){%>display-inline<%}%>" id="firstname-invalid-alert">First name has invalid format</span>
  </fieldset>
    
  <fieldset>
    <label for="lastname">Last Name *</label>
    <input class="form-field <%if(lastnameEmptyAlert==='true'||lastnameInvalidAlert==='true'){%>red-border<%}%>" type="text" id="lastname" name="lastname" value="<%if(lastname!==''){%><%= lastname%><%}%>">
    <span class="tooltip-form-alert <%if(lastnameEmptyAlert==='true'){%>display-inline<%}%>" id="lastname-empty-alert">Please enter your last name</span>
    <span class="tooltip-form-alert <%if(lastnameInvalidAlert==='true'){%>display-inline<%}%>" id="lastname-invalid-alert">Last name has invalid format</span>
  </fieldset>

  <fieldset>
    <label for="email">Email *</label>
    <input class="form-field <%if(emailEmptyAlert==='true'||emailInvalidAlert==='true'||emailExistsAlert==='true'){%>red-border<%}%>" type="email" id="email" name="email" value="<%if(email!==''){%><%= email%><%}%>">
    <span class="tooltip-form-alert <%if(emailEmptyAlert==='true'){%>display-inline<%}%>" id="email-empty-alert">Please enter your email address</span>
    <span class="tooltip-form-alert <%if(emailInvalidAlert==='true'){%>display-inline<%}%>" id="email-invalid-alert">Email has invalid format</span>
    <span class="tooltip-form-alert <%if(emailExistsAlert==='true'){%>display-inline<%}%>" id="email-exists-alert">User with this email already exists</span>
  </fieldset>

  <fieldset>
    <label for="password">Password *</label>
    <input class="form-field <%if(passwordEmptyAlert==='true'||passwordInvalidAlert==='true'){%>red-border<%}%>" type="password" id="password" name="password">
    <span class="tooltip-form-alert <%if(passwordEmptyAlert==='true'){%>display-inline<%}%>" id="password-empty-alert">Please enter your password</span>
    <span class="tooltip-form-alert <%if(passwordInvalidAlert==='true'){%>display-inline<%}%>" id="password-invalid-alert">Password has invalid format</span>
    <span class="tooltip-form-alert" id="password-info">At least: 8 chars, one lower and one upper alpha chars, one number, one special char</span>
  </fieldset>

  <fieldset>
    <label for="confirmPassword">Confirm Password *</label>
    <input class="form-field <%if(confirmPasswordEmptyAlert==='true'||confirmPasswordMatchAlert==='true'){%>red-border<%}%>" type="password" id="confirmPassword" name="confirmPassword">
    <span class="tooltip-form-alert <%if(confirmPasswordEmptyAlert==='true'){%>display-inline<%}%>" id="confirmPassword-empty-alert">Please enter your password</span>
    <span class="tooltip-form-alert <%if(confirmPasswordMatchAlert==='true'){%>display-inline<%}%>" id="confirmPassword-match-alert">Passwords do not match</span>
  </fieldset>

  <button class="button" type="submit" id="submit-button">Sign Up</button>
</form>

<p class= "centered-paragraph">Already have an accout? <a href="/login">Login</a></p>

<%if (modal === 'opened') {%>
  <div class="modal" id="modal">
    <div class="modal-content">
      <i class="fas fa-check modal-text"></i>
      <p class="modal-text">You have successfully created your account</p>
      <p class="modal-text">Please confirm your email address</p>
      <a href="/login"><button class="button" id="close-modal-button" type="button">Login</button></a>
    </div>
  </div>
<%}%>

<script src="/static/signup.js" defer></script>