<div class="container-fluid">
  <div class="col-4 offset-4">
    <div class="row mt-3 text-center">
      <h2>Sign Up</h2>
    </div>

    <form class="row" id="form" method="post" action="/signup" novalidate>
      <div class="mb-3">
        <label for="firstname" class="form-label">First Name *</label>
        <input class="form-control <%if(firstnameEmptyAlert==='true'||firstnameInvalidAlert==='true'){%>red-border<%}%>" type="text" id="firstname" name="firstname" value="<%if(firstname!==''){%><%= firstname%><%}%>">
        <div class="form-alert <%if(firstnameEmptyAlert==='true'){%>display-block<%}%>"  id="firstname-empty-alert">Please enter your first name</div>
        <div class="form-alert <%if(firstnameInvalidAlert==='true'){%>display-block<%}%>" id="firstname-invalid-alert">First name has invalid format</div>
      </div>
        
      <div class="mb-3">
        <label for="lastname" class="form-label">Last Name *</label>
        <input class="form-control <%if(lastnameEmptyAlert==='true'||lastnameInvalidAlert==='true'){%>red-border<%}%>" type="text" id="lastname" name="lastname" value="<%if(lastname!==''){%><%= lastname%><%}%>">
        <div class="form-alert <%if(lastnameEmptyAlert==='true'){%>display-block<%}%>" id="lastname-empty-alert">Please enter your last name</div>
        <div class="form-alert <%if(lastnameInvalidAlert==='true'){%>display-block<%}%>" id="lastname-invalid-alert">Last name has invalid format</div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email Address*</label>
        <input class="form-control <%if(emailEmptyAlert==='true'||emailInvalidAlert==='true'||emailExistsAlert==='true'){%>red-border<%}%>" type="email" id="email" name="email" value="<%if(email!==''){%><%= email%><%}%>">
        <div class="form-alert <%if(emailEmptyAlert==='true'){%>display-block<%}%>" id="email-empty-alert">Please enter your email address</div>
        <div class="form-alert <%if(emailInvalidAlert==='true'){%>display-block<%}%>" id="email-invalid-alert">Email address has invalid format</div>
        <div class="form-alert <%if(emailExistsAlert==='true'){%>display-block<%}%>" id="email-exists-alert">User with this email address already exists</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password *</label>
        <input class="form-control <%if(passwordEmptyAlert==='true'||passwordInvalidAlert==='true'){%>red-border<%}%>" type="password" id="password" name="password">
        <div class="form-alert <%if(passwordEmptyAlert==='true'){%>display-block<%}%>" id="password-empty-alert">Please enter your password</div>
        <div class="form-alert <%if(passwordInvalidAlert==='true'){%>display-block<%}%>" id="password-invalid-alert">Password has invalid format</div>
        <div class="form-text" id="password-info">At least: 8 chars, one lower and one upper alpha chars, one number, one special char</div>
      </div>

      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password *</label>
        <input class="form-control <%if(confirmPasswordEmptyAlert==='true'||confirmPasswordMatchAlert==='true'){%>red-border<%}%>" type="password" id="confirmPassword" name="confirmPassword">
        <div class="form-alert <%if(confirmPasswordEmptyAlert==='true'){%>display-block<%}%>" id="confirmPassword-empty-alert">Please confirm your password</div>
        <div class="form-alert <%if(confirmPasswordMatchAlert==='true'){%>display-block<%}%>" id="confirmPassword-match-alert">Passwords do not match</div>
      </div>

      <button class="btn btn-primary shadow d-block mx-auto w-50" type="submit">Sign Up</button>
    </form>

    <p class="mt-3 text-center">Already have an account? <a href="/login">Login</a></p>
  </div>
</div>

<%if (modal === 'opened') {%>
  <div class="my-modal">
    <div class="my-modal-content">
      <i class="fas fa-check modal-text"></i>
      <p class="mb-3">You have successfully created your account</p>
      <p class="mb-3">Please confirm your email address</p>
      <a href="/login"><button class="btn btn-primary shadow d-block mx-auto w-50" type="button">Login</button></a>
    </div>
  </div>
<%}%>

<script src="/static/js/signup.js" defer></script>